@(message: String, source: String, options: Map[String,String], dtype: String, schema: String, entity: String, style: String = "scala")

@defining(play.core.PlayVersion.current) { version =>

<div class="alert alert-info" role="alert">
Click annotate to create the mappings
</div>

<ul class="list-group">
  <li class="list-group-item"><strong>Path:</strong> @source</li>
  <li class="list-group-item">
	
	<table class="table table-bordered" style="table-layout: fixed; width: 100%">
	  <thead>
		<tr>
		  <th scope="col">Option</th>
		  <th scope="col">Value</th>
		</tr>
	  </thead>
	  <tbody> 
		@for((k,v) <- options){ 
			<tr>
				<td>@k</td>
				<td style="word-wrap: break-word">@v</td
			</tr>
		} 
	  </tbody>
	</table>
	
  </li>
  <li class="list-group-item"><strong>Type:</strong> @dtype</li>
</ul>
<input type="hidden" value="@dtype" id="dtype" class="form-control" />
<input type="hidden" value="@source" id="src" class="form-control" />
<input type="hidden" value="@entity" id="entity" class="form-control" />
<div>
	<div class="alert alert-info" role="alert" style="margin-top: 50px;">
	We suggest an annotation, if not adequate, choose another or enter new. To enter new, follow this template: [short namespace]>[URI].
	</div>
		
	<div style="margin-bottom: 20px;">
		<strong>Class:</strong> 
		<input type="text" id="clss" class="form-control"/>
		<input type="hidden" id="shortns_clss" class="form-control"/>
		<input type="hidden" id="ns_clss" class="form-control"/>
	</div>
	<table class="table table-bordered" id="fieldsTable">
		  <thead>
			<tr>
			  <th scope="col">Attribure</th>
			  <th scope="col">Primary key?</th>
			  <th scope="col">Annotation</th>
			</tr>
		  </thead>
		  <tbody> 
		@defining(if(dtype=="csv") options("delimiter") else ",") { del =>
			@for(attribute <- schema.split(del)) {
				<tr>
					<td>@attribute</td>
					<td><input type="radio" name="pk" value="@attribute"/></td>
					<td>
						<input type="text" class="form-control attr" id="@attribute" />
						<div id="ns-@attribute"></div>
						<input type="hidden" class="form-control" id="shortns-@attribute" />
					</td>
				</tr>
			 }
		}		
	  </tbody>
	</table>
	@if(dtype=="mongodb") {
		<div class="alert alert-warning" role="alert">MongoDB is a schema-less database. For performance reasons, we obtained the below fields from the first 100 documents returned. If data is not uniform, please add it to the list below by clicking on the "Add field" button below.
		</div>
		<button type="button" class="btn btn-primary" id="addField">Add fields</button>
		}
	<button type="button" class="btn btn-primary" id="addMappings">Save</button>
</div>

<!-- Modal -->
  <div class="modal fade" id="newFieldModal" tabindex="-1" role="dialog" aria-labelledby="New Field" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="sourceModalLabel">Add a new field</h5>
				<input type='hidden' id='slctdSrc' />
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" >
				<div class="form-group">
                	Field name: <input class="form-control" id="newField"/>
				</div>
            </div>
            <div class="modal-footer">
				<span role="alert" id="fieldAdded"></span>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="saveField">Add field</button>
				
            </div>
        </div>
    </div>
</div>

}
