@(message: String, style: String = "scala") 

@defining(play.core.PlayVersion.current) { version =>

<div class="alert alert-info" role="alert">
	Build your query by 'gradually' entering entities and links between entities. For example an entity for "<b>Product</b>" followed by an entity for "<b>Producer</b>" then link them.
</div>

<div>
	<button type="button" class="btn btn-primary predicatesGroup" data-pred="">1. Add an entity</button>	
	<button type="button" class="btn btn-primary disabled" id="addSelect">2. Add a select</button>
	<button type="button" class="btn btn-primary disabled" id="addFilters">3. Add filters</button>
	<button type="button" class="btn btn-primary disabled" id="addTransform">4. Add transformations</button>
</div>

<div style="margin-top: 80px;">
	Generated SPARQL query
    <div id="sparql" style="background-color: #eaf2f9; padding: 20px;">
        <div id="prolog" style="display: none;"></div>
		<div id="select" style="display: none;">SELECT <span id="selected-vars">?</span></div>
		<div id="where" style="display: none;">
			WHERE { <span id="triple-patterns"></span> <br>
				<div id="filter" style="display: none;">
					FILTER (<span id="filter-conditions"></span>) .
				</div>
				<div id="transform" style="display: none;">
					TRANSFORM (<span id="transforms"></span>)
				</div>	
			}
		</div>
	</div>
	<button type="button" class="btn btn-primary disabled" id="downloadQuery">Download query</button>

	<div class="alert alert-warning" role="alert" style="margin-top: 300px;">
        - Refresh to create a new query.</br>
        - Add type manually (type specification will be supported soon)</br>
		- Contact object is not possible, create a variable and add 'filter' for it.
	</div>
</div>

<!-- Modals -->
<div class="modal fade" id="predicatesGroupModal" tabindex="-1" role="dialog" aria-labelledby="SPARQL BGP" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="sourceModalLabel">Add predicates</h5>
				<input type='hidden' id='slctdSrc' />
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
				<label for="subject">Subject variable: <input style="width: 50%;" type="text" name="subject" class="form-control noborder" id="subject" ></label>													
				<table id="triplesTable" style="width: 100%;">
					<tr class="pred_obj_tr">
						<td style="width: 50%;"><input type="text" class="form-control noborder hasPredicate" id="predicate" placeholder="predicate" ></td>
						<td style="width: 50%;"><input type="text" class="form-control noborder" id="object" placeholder='object (enter ?variable")'></td>								
					</tr>
				</table>
				<span>Press left shift+enter to add a new triple.</span>
            </div>
            <div class="modal-footer">
				<span role="alert" id="fieldAdded"></span>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="saveTriple">Add</button>				
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="selectModal" tabindex="-1" role="dialog" aria-labelledby="SPARQL Selects" aria-hidden="true">
	<div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="sourceModalLabel">Add select</h5>
				<input type='hidden' id='slctdSrc' />
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
				<div id="selectableVars">Add predicates first</div>
            </div>
            <div class="modal-footer">
				<span role="alert" id="fieldAdded"></span>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="saveSelect">Save</button>				
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="filtersModal" tabindex="-1" role="dialog" aria-labelledby="SPARQL Filters" aria-hidden="true">
	<div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="sourceModalLabel">Add filters</h5>
				<input type='hidden' id='slctdSrc' />
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
				<div id="filters">Add predicates first</div>
            </div>
            <div class="modal-footer">
				<span role="alert" id="fieldAdded"></span>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="saveFilters">Save</button>				
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="transformModal" tabindex="-1" role="dialog" aria-labelledby="SPARQL Transformations" aria-hidden="true">
	<div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="sourceModalLabel">Add transformations</h5>
				<input type='hidden' id='slctdSrc' />
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
				<div id="transformations">Add predicates first</div>
            </div>
            <div class="modal-footer">
				<span role="alert" id="fieldAdded"></span>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="saveTransform">Save</button>				
            </div>
        </div>
    </div>
</div>

<style>
	.noborder {
		border-color: #d0d6db;
	}
	.meduim {
		width: px;
	}
</style>
}
