@(message: String, data: Map[String,String])

@if(message=="Home") {
    @html("Squerall - Dashboard") {
        @dashboard(message, style = "scala")
    }
} else if(message=="Add source") {
    @html("Squerall - Add Source") {
        @addSource(message, style = "scala")
    }
    <script src="@routes.Assets.versioned("javascripts/addSource.js")"></script>
} else if(message=="Add mappings") {
    @html("Squerall - Add Source") {
        @addMappings(message, data, style = "scala") @* data = entities *@
    }
} else if(message=="Query") {
	<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/tt.css")" />
    @html("Squerall - Query") {
        @query(message, style = "scala")
    }
	<script src="@routes.Assets.versioned("javascripts/typeahead.bundle.min.js")"></script>
	<script src="@routes.Assets.versioned("javascripts/query.js")"></script>
}
